<ul class="navbar-nav ml-auto">
  <!-- Use i18n to translate -->
  <li class="nav-item active">
    <a class="nav-link" href="/api/all"> <%= __('View All Adverts') %> </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/api/all/json"> <%= __('View Json') %> </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/newAdvert"> <%= __('Add Advert') %> </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/delete"> <%= __('Delete Advert') %> </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/update"> <%= __('Update Advert') %> </a>
  </li>
</ul>
